*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-container{
    background-color: orangered;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;

}
.logopic{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-left: 10px;
    padding-left: 25px;
    font-size: 15px;
}
.item:hover{
    color: brown;
}
.banpic{
    width: 350px;
}
.btn1{
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(89, 29, 145);
    color: white;
    border: 0px;
}
.title{
    font-size: 55px;
    font-weight: 900;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url('images/background.png'), linear-gradient(45deg, rgb(255, 68, 0), rgb(111, 0, 255));
}